# Data Exploration

### Imports

In [3]:
# Imports
import numpy as np
import pandas as pd

# Import train-test split function
from sklearn.model_selection import train_test_split

# Import the RandomForestClassifier and DecisionTreeClassifier
from sklearn import tree
from sklearn import ensemble
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# Import metrics for evaluation
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, recall_score, precision_score
from sklearn.utils import resample

# Import Visualization Modules
import matplotlib.pyplot as plt
import plotly_express as px

df = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank.csv")
mini = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank_holdout_test_mini.csv")


# Create Models
# Basic Hot encoding, data splitting, model training and testing

X = pd.get_dummies(df.drop("y", axis=1)).drop("default_yes", axis=1)
X
y = df["y"]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.15, random_state=42)

#parameters
md = 85
min_samp = 150
class_weight = np.where(y_train == "no", 0.15, 1.0)

t_model = DecisionTreeClassifier(random_state=42, max_depth=md, min_samples_split=min_samp)
f_model = RandomForestClassifier(random_state=42,
    max_depth=17, 
    min_samples_split=min_samp,
    n_estimators=100)

t_model.fit(X_train, y_train, sample_weight=class_weight)
f_model.fit(X_train, y_train)

tree_predict = t_model.predict(X_test)
for_predict = f_model.predict(X_test)

tree_acc = accuracy_score(y_test, tree_predict)
for_acc = accuracy_score(y_test, for_predict)
tree_recall = recall_score(y_test, tree_predict, pos_label='yes')
for_recall = recall_score(y_test, for_predict, pos_label='yes')
tree_pre = precision_score(y_test, tree_predict, pos_label='yes')
for_pre = precision_score(y_test, for_predict, pos_label='yes')


display(tree_acc)
display(for_acc)
display(tree_recall)
display(for_recall)
display(tree_pre)
display(for_pre)

0.8131631001618413

0.8948030929688905

0.6511278195488722

0.23458646616541354

0.34919354838709676

0.6724137931034483

# Pickling

In [10]:
from pickle import dump
with open("Decision Tree.pkl", "wb") as f:
    dump(t_model, f, protocol=5)


with open("Random Forest.pkl", "wb") as f:
    dump(f_model, f, protocol=5)

In [11]:
from pickle import load
with open("Decision Tree.pkl", "rb") as f:
    clf = load(f)

tree_predict = t_model.predict(X_test)
tree_acc = accuracy_score(y_test, tree_predict)

tree_recall = recall_score(y_test, tree_predict, pos_label='yes')
tree_pre = precision_score(y_test, tree_predict, pos_label='yes')

display(tree_acc)
display(tree_recall)
display(tree_pre)

0.8131631001618413

0.6511278195488722

0.34919354838709676

### Exploring Correlations

In [5]:
df.describe()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,37069.000000,37069.000000,37069.000000,37069.000000,37069.000000,37069.000000,37069.000000,37069.000000,37069.000000
mean,40.025493,2.564407,962.221803,0.173730,0.081526,93.576551,-40.494829,3.621945,5167.010650
std,10.435288,2.764084,187.531477,0.496159,1.572287,0.579339,4.628895,1.734496,72.294476
min,17.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [7]:
df[df["y"] == "yes"].describe()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4208.000000,4208.000000,4208.000000,4208.000000,4208.000000,4208.000000,4208.000000,4208.000000,4208.000000
mean,40.948432,2.053470,789.912548,0.495722,-1.240162,93.356961,-39.824097,2.113721,5094.514924
std,13.868956,1.647362,404.917402,0.862267,1.618691,0.675806,6.147387,1.738969,87.617082
min,17.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,31.000000,1.000000,999.000000,0.000000,-1.800000,92.893000,-46.200000,0.849000,5017.500000
50%,37.000000,2.000000,999.000000,0.000000,-1.800000,93.200000,-40.400000,1.266000,5099.100000
75%,50.000000,2.000000,999.000000,1.000000,-0.100000,93.918000,-36.100000,4.223000,5191.000000
max,98.000000,17.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [9]:
df[df["y"] == "no"].describe()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,32861.000000,32861.000000,32861.000000,32861.000000,32861.000000,32861.000000,32861.000000,32861.000000,32861.000000
mean,39.907307,2.629835,984.286784,0.132497,0.250774,93.604671,-40.580719,3.815079,5176.294057
std,9.904101,2.869389,119.964157,0.409307,1.483529,0.559621,4.389456,1.636452,64.449486
min,17.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.405000,5099.100000
50%,38.000000,2.000000,999.000000,0.000000,1.100000,93.918000,-41.800000,4.857000,5195.800000
75%,47.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.962000,5228.100000
max,95.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000